In [1]:
import numpy as np
import pandas as pd

In [2]:
#1
def mean_vector(data):
    ones=pd.DataFrame({'ones': np.ones(len(data))})
    mean=ones.transpose().dot(data)/len(data)
    return mean

def covariance_matrix(data):
    mean=mean_vector(data)
    mean_rep = pd.concat([mean]*len(data))
    mean_rep.columns=data.columns
    mean_rep.reset_index(inplace = True, drop = True)
    covariance=(data-mean_rep).transpose().dot(data-mean_rep)/(len(data)-1)
    return covariance

def sample_corr_matrix(data):
    S = covariance_matrix(data)
    Si, Sj = S.copy(), S.copy()
    for i in range(len(Si)):
        Si.iloc[i,:]=S.iloc[i,i]
    for j in range(len(Sj)):
        Sj.iloc[:,j]=S.iloc[j,j]
    
    R=S/np.sqrt(Si)/np.sqrt(Sj)
    return R

def classifier(data, class1, class2):
    for i in range(len(data.index)):
        for j in range(len(data.columns)):
            data.iloc[i,j] = class1 if data.iloc[i,j]==True else class2
    return data

In [3]:
#LDA: Linear Discriminant Analysis
#X1: domestic, X2: wild
#priors: p1, p2
def lda(x,y,p1,p2):
    var = x.columns
    x = pd.DataFrame.reset_index(x.T,drop=True).T
    X1 = x.iloc[14:]
    X1 = pd.DataFrame.reset_index(X1,drop=True)
    X2 = x.iloc[:14]
    X2 = pd.DataFrame.reset_index(X2,drop=True)
    
    n1, n2 = y.value_counts()
    n = n1 + n2
    X1_mean = mean_vector(X1)
    X2_mean = mean_vector(X2)
    S1 = covariance_matrix(X1)
    S2 = covariance_matrix(X2)
    Sp = (n1-1)/(n1+n2-2)*S1+(n2-1)/(n1+n2-2)*S2
    
    #Calculate LDF for binary class
    a = (X1_mean-X2_mean).dot(np.linalg.inv(Sp))
    Y1_mean = a.dot(X1_mean.T).iloc[0,0]
    Y2_mean = a.dot(X2_mean.T).iloc[0,0]
    m = 1/2*(Y1_mean + Y2_mean)
    coeff = np.append(m,a)
    coeff = pd.DataFrame(coeff, index = np.append('Constant',var), columns = ['Coefficients'])
    
    #Predict Y class
    ldf = a.dot(x.T)-m
    ldf.index=['ldf']
    log = np.log(p2/p1) #assume equal misclassification cost
    ldf_bool = ldf > log
    classified = classifier(ldf_bool,'DOMESTIC','WILD')
    
    #Calculate posterior probabilities
    X1_mean_rep = pd.concat([X1_mean]*len(x))
    X1_mean_rep = pd.DataFrame.reset_index(X1_mean_rep,drop=True)
    f1=np.exp(-1/2*(x-X1_mean_rep).dot(np.linalg.inv(Sp)).dot((x-X1_mean_rep).T))
    X2_mean_rep = pd.concat([X2_mean]*len(x))
    X2_mean_rep = pd.DataFrame.reset_index(X2_mean_rep,drop=True)
    f2=np.exp(-1/2*(x-X2_mean_rep).dot(np.linalg.inv(Sp)).dot((x-X2_mean_rep).T))
    post1 = p1*f1/(p1*f1+p2*f2)
    post2 = p2*f2/(p1*f1+p2*f2)
    
    #Classification result
    result=pd.concat([y,classified.T,pd.DataFrame(np.round(np.diag(post1),4)),pd.DataFrame(np.round(np.diag(post2),4))],axis=1)
    result.columns=['From TYPE','Classified into Type','DOMESTIC','WILD']
    
    return coeff, result, ldf

In [4]:
#2
#LOO: Leave-One-Out Method
def loo(x,y,p1,p2):
    var = x.columns
    x = pd.DataFrame.reset_index(x.T,drop=True).T
    classify_list=[]
    
    for i in range(len(x)):
        n1, n2 = y.value_counts()
        if i<14:
            n1=n1-1
            n=n1+n2
            x_temp = x.drop(i)
            x_temp = pd.DataFrame.reset_index(x_temp,drop=True)
            X1 = x_temp.iloc[13:]
            X1 = pd.DataFrame.reset_index(X1,drop=True)
            X2 = x_temp.iloc[:13]
            X2 = pd.DataFrame.reset_index(X2,drop=True)
        else:
            n2=n2-1
            n=n1+n2
            x_temp = x.drop(i)
            x_temp = pd.DataFrame.reset_index(x_temp,drop=True)
            X1 = x_temp.iloc[14:]
            X1 = pd.DataFrame.reset_index(X1,drop=True)
            X2 = x_temp.iloc[:14]
            X2 = pd.DataFrame.reset_index(X2,drop=True)
            
        X1_mean = mean_vector(X1)
        X2_mean = mean_vector(X2)
        S1 = covariance_matrix(X1)
        S2 = covariance_matrix(X2)
        Sp = (n1-1)/(n1+n2-2)*S1+(n2-1)/(n1+n2-2)*S2

        #Calculate LDF for binary class
        a = (X1_mean-X2_mean).dot(np.linalg.inv(Sp))
        Y1_mean = a.dot(X1_mean.T).iloc[0,0]
        Y2_mean = a.dot(X2_mean.T).iloc[0,0]
        m = 1/2*(Y1_mean + Y2_mean)
        coeff = np.append(m,a)
        coeff = pd.DataFrame(coeff, index = np.append('Constant',var), columns = ['Coefficients'])
        
        #Predict Y class
        ldf = a.dot(x.iloc[i,:])[0]-m
        log = np.log(p2/p1) #assume equal misclassification cost
        ldf_bool = ldf > log
        if ldf_bool>0:
            classified = 'DOMESTIC'
        else:
            classified = 'WILD'
        classify_list = np.append(classify_list, classified)
        
    classify_list = pd.DataFrame(classify_list, columns=['TYPE'])
    #calculate accuracy
    error = classify_list==pd.DataFrame(y)
    correct, incorrect = error.value_counts()
    accuracy = correct/(correct+incorrect)
    
    return accuracy

In [5]:
#3
turkey = pd.read_csv("turkey.dat", delim_whitespace = True)
turkey

,ID,SEX,TYPE,WGT,HUM,RAD,ULN,FEMUR,TIB,TIN,CAR,D3P,STL,STB,COR,PEL,MAX,MIN,SCA
0,K766,MALE,WILD,.,.,.,.,.,.,.,.,.,.,.,.,.,142,107,.
1,N399,MALE,WILD,.,153,138,153,139,246,162,810,307,196,74,.,.,145,104,.
2,NEX1,MALE,WILD,.,.,.,.,.,.,.,.,.,224,72,.,.,.,.,.
3,NEX2,MALE,WILD,.,.,.,.,.,.,.,.,.,220,74,.,.,.,.,.
4,NEX3,MALE,WILD,.,.,.,.,.,.,.,.,.,228,78,.,.,.,.,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,DO28,FEMALE,DOMESTIC,.,.,.,.,.,181,118,.,.,.,.,.,.,147,111,.
154,DO29,FEMALE,DOMESTIC,.,.,.,.,.,183,115,.,.,.,.,.,.,129,102,.
155,DO30,FEMALE,DOMESTIC,.,.,.,.,.,177,113,.,.,.,.,.,.,135,101,.
156,DO31,FEMALE,DOMESTIC,.,.,.,.,.,182,117,.,.,.,.,.,.,148,109,.
157,DO32,FEMALE,DOMESTIC,.,.,.,.,.,180,112,.,.,.,.,.,.,146,112,.

In [6]:
#turkey2: only male
turkey2 = turkey.loc[turkey['SEX'] == 'MALE',
    ['ID','TYPE','HUM','RAD','ULN','FEMUR','TIN','CAR','D3P','COR','SCA']]
turkey2 = turkey2.replace('.',np.nan).dropna().reset_index(drop=True)
turkey2

      ID      TYPE  HUM  RAD  ULN FEMUR  TIN  CAR  D3P  COR  SCA
0   B710      WILD  153  140  147   142  151  817  305  102  128
1   B790      WILD  156  137  151   146  155  814  305  111  137
2   B819      WILD  158  135  151   146  152  790  289  111  125
3   B085      WILD  148  129  146   139  147  767  287  106  123
4   B089      WILD  157  140  154   140  159  818  301  116  136
5   B090      WILD  153  138  153   141  151  822  312  115  133
6   B091      WILD  156  138  156   145  150  835  310  118  133
7   B097      WILD  153  135  150   144  158  772  276  102  123
8   B099      WILD  152  140  151   144  158  792  303  111  122
9   B106      WILD  147  130  144   136  145  765  289  108  131
10  B111      WILD  154  138  155   142  153  827  315  111  128
11  B114      WILD  154  138  154   138  155  802  287  111  132
12  B116      WILD  161  131  150   140  151  816  301  112  134
13  L690      WILD  140  126  137   123  141  770  290   95  118
14  L674  DOMESTIC  142  131  140   128  131  800  250   95  122
15  L678  DOMESTIC  148  130  145   133  141  800  290   98  124
16  L679  DOMESTIC  148  131  144   133  135  820  300  103  123
17  L682  DOMESTIC  145  131  140   129  136  790  300  100  123
18  L684  DOMESTIC  153  135  146   138  146  840  310  107  125
19  L695  DOMESTIC  149  132  147   131  139  810  300  102  126
20  L746  DOMESTIC  143  129  141   130  137  800  300   97  121
21  L747  DOMESTIC  149  132  147   137  136  790  300  105  127
22  L748  DOMESTIC  145  130  145   132  136  760  280   97  123
23  L749  DOMESTIC  148  135  145   135  145  840  310  100  124
24  L750  DOMESTIC  149  130  147   140  147  770  300  104  126
25  L753  DOMESTIC  141  127  136   126  131  830  310   97  120
26  L758  DOMESTIC  149  131  146   135  137  810  300  102  127
27  L762  DOMESTIC  145  131  143   136  140  790  290  101  125
28  L765  DOMESTIC  148  137  146   133  144  820  300   99  125
29  L770  DOMESTIC  144  129  138   130  134  790  300   97  118
30  L774  DOMESTIC  143  128  141   130  137  800  300   98  123
31  L779  DOMESTIC  149  136  147   135  139  820  300   98  126
32  L784  DOMESTIC  150  135  148   134  143  820  300  103  129

In [7]:
x = turkey2.drop(['ID','TYPE'], axis=1)
x = x.astype(int)
y = turkey2['TYPE']

In [8]:
#Apply function in code #1
coeff1, result1, ldf1 = lda(x,y,0.6,0.4)

In [9]:
coeff1

          Coefficients
Constant    -14.570875
HUM           0.104816
RAD           0.079992
ULN           0.619480
FEMUR         0.207355
TIN          -0.912619
CAR           0.032513
D3P           0.103164
COR          -0.821637
SCA           0.012002

In [10]:
#(a) Which turkeys in this data set were misclassified by the discriminant rule when the rule was applied to the training data?
#(b) What are the posterior probabilities for both domestic and wild classifcations for those turkeys that were misclassified in (a)?
result1

   From TYPE Classified into Type  DOMESTIC    WILD
0       WILD             DOMESTIC    0.6620  0.3380
1       WILD                 WILD    0.0009  0.9991
2       WILD                 WILD    0.0011  0.9989
3       WILD                 WILD    0.0058  0.9942
4       WILD                 WILD    0.0000  1.0000
5       WILD                 WILD    0.0033  0.9967
6       WILD                 WILD    0.0171  0.9829
7       WILD                 WILD    0.0002  0.9998
8       WILD                 WILD    0.0000  1.0000
9       WILD                 WILD    0.0013  0.9987
10      WILD                 WILD    0.0919  0.9081
11      WILD                 WILD    0.0001  0.9999
12      WILD                 WILD    0.0017  0.9983
13      WILD                 WILD    0.4346  0.5654
14  DOMESTIC             DOMESTIC    0.9999  0.0001
15  DOMESTIC             DOMESTIC    0.9985  0.0015
16  DOMESTIC             DOMESTIC    0.9999  0.0001
17  DOMESTIC             DOMESTIC    0.9974  0.0026
18  DOMESTIC             DOMESTIC    0.6238  0.3762
19  DOMESTIC             DOMESTIC    0.9995  0.0005
20  DOMESTIC             DOMESTIC    0.9997  0.0003
21  DOMESTIC             DOMESTIC    0.9998  0.0002
22  DOMESTIC             DOMESTIC    0.9999  0.0001
23  DOMESTIC             DOMESTIC    0.9955  0.0045
24  DOMESTIC                 WILD    0.2645  0.7355
25  DOMESTIC             DOMESTIC    1.0000  0.0000
26  DOMESTIC             DOMESTIC    0.9999  0.0001
27  DOMESTIC             DOMESTIC    0.9779  0.0221
28  DOMESTIC             DOMESTIC    0.9970  0.0030
29  DOMESTIC             DOMESTIC    0.9999  0.0001
30  DOMESTIC             DOMESTIC    0.9994  0.0006
31  DOMESTIC             DOMESTIC    1.0000  0.0000
32  DOMESTIC             DOMESTIC    0.9932  0.0068

In [11]:
#(c) Determine the value of each of the linear discriminant function for turkeys whose IDs are B710 and L674.
#How do you classify these two turkeys?
ldf1

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
ldf,0.266544,-7.386383,-7.173841,-5.557687,-14.480549,-6.120478,-4.45412,-8.763461,-11.819885,-7.024255,...,4.986669,-1.428094,11.039951,9.077645,3.385169,5.415778,8.488731,6.988009,11.871528,4.585818

In [12]:
#LDF values for 'B710' and 'L674'
ldf1.iloc[0,0], ldf1.iloc[0,14]

(0.2665441199626031, 8.85941578165395)

In [13]:
#(d) Calculate the 'leave-one-out' accuracy of the LDA model.
acc = loo(x,y,0.6,0.4)
acc

0.8484848484848485