In [1]:
import numpy as np
import pandas as pd
from scipy.stats import ttest_ind, f
from statsmodels.multivariate.manova import MANOVA

In [2]:
#1
def mean_vector(data):
    ones = pd.DataFrame({'mean': np.ones(len(data))})
    mean = ones.transpose().dot(data)/len(data)
    return mean

In [3]:
def cov_matrix(data):
    mean = mean_vector(data)
    mean_rep = pd.concat([mean]*len(data))
    mean_rep.columns = data.columns
    mean_rep.reset_index(inplace = True, drop = True)
    cov = (data-mean_rep).transpose().dot(data-mean_rep)/(len(data)-1)
    return cov

In [4]:
#Multivariate profile analysis assuming equal covariances
def multi_prof_analysis(df1,df2,C):
    n1 = len(df1.index)
    n2 = len(df2.index)
    q = len(C.index)
    x1_bar = mean_vector(df1)
    x2_bar = mean_vector(df2)
    S1 = cov_matrix(df1)
    S2 = cov_matrix(df2)
    Sp = ((n1-1)*S1+(n2-1)*S2)/(n1+n2-2) #pooled covariance matrix
    t2 = ((x1_bar-x2_bar).dot(C.T).dot(np.linalg.inv((1/n1+1/n2)*C.dot(Sp).dot(C.T))).dot(C).dot((x1_bar-x2_bar).T)).iloc[0,0]
    fvalue = t2*(n1+n2-q-1)/((n1+n2-2)*q)
    pvalue = f.sf(fvalue, q, n1+n2-q-1)
    return {'t2': t2, 'f-value': fvalue, 'p-value': pvalue}

In [5]:
#2
turtle = pd.read_fwf('turtle.dat', header=None, widths = [5,5,4,8])
turtle.columns=[0,1,2,'gender']
turtle

      0    1   2  gender
0    98   81  38  female
1   103   84  38  female
2   103   86  42  female
3   105   86  42  female
4   109   88  44  female
5   123   92  50  female
6   123   95  46  female
7   133   99  51  female
8   133  102  51  female
9   133  102  51  female
10  134  100  48  female
11  136  102  49  female
12  138   98  51  female
13  138   99  51  female
14  141  105  53  female
15  147  108  57  female
16  149  107  55  female
17  153  107  56  female
18  155  115  63  female
19  155  117  60  female
20  158  115  62  female
21  159  118  63  female
22  162  124  61  female
23  177  132  67  female
24   93   74  37    male
25   94   78  35    male
26   96   80  35    male
27  101   84  39    male
28  102   85  38    male
29  103   81  37    male
30  104   83  39    male
31  106   83  39    male
32  107   82  38    male
33  112   89  40    male
34  113   88  40    male
35  114   86  40    male
36  116   90  43    male
37  117   90  41    male
38  117   91  41    male
39  119   93  41    male
40  120   89  40    male
41  120   93  44    male
42  121   95  42    male
43  125   93  45    male
44  127   96  45    male
45  128   95  45    male
46  131   95  46    male
47  135  106  47    male

In [6]:
female=turtle.iloc[0:24,:3]
female

      0    1   2
0    98   81  38
1   103   84  38
2   103   86  42
3   105   86  42
4   109   88  44
5   123   92  50
6   123   95  46
7   133   99  51
8   133  102  51
9   133  102  51
10  134  100  48
11  136  102  49
12  138   98  51
13  138   99  51
14  141  105  53
15  147  108  57
16  149  107  55
17  153  107  56
18  155  115  63
19  155  117  60
20  158  115  62
21  159  118  63
22  162  124  61
23  177  132  67

In [7]:
male=turtle.iloc[24:48,:3]
male.reset_index(inplace = True, drop = True)
male

      0    1   2
0    93   74  37
1    94   78  35
2    96   80  35
3   101   84  39
4   102   85  38
5   103   81  37
6   104   83  39
7   106   83  39
8   107   82  38
9   112   89  40
10  113   88  40
11  114   86  40
12  116   90  43
13  117   90  41
14  117   91  41
15  119   93  41
16  120   89  40
17  120   93  44
18  121   95  42
19  125   93  45
20  127   96  45
21  128   95  45
22  131   95  46
23  135  106  47

In [8]:
#(a) Are the profiles parallel?
C_par=pd.DataFrame([[1,-1,0],[0,1,-1]])
C_par

   0  1  2
0  1 -1  0
1  0  1 -1

In [9]:
multi_prof_analysis(female,male,C_par)
#Reject null hypothesis.
#Profiles are not parallel.

{'t2': 15.423169058017201,
 'f-value': 7.543941387073631,
 'p-value': 0.0014947765346784245}

In [10]:
#(b) Are the profiles coincident?
C_coin=pd.DataFrame([np.ones(3)])
C_coin

     0    1    2
0  1.0  1.0  1.0

In [11]:
multi_prof_analysis(female,male,C_coin)
#Reject null hypothesis.
#If the profiles are not parallel, they cannot be coincident.
#As expected, the profiles are not coincident.

{'t2': 24.964840464171786,
 'f-value': 24.96484046417179,
 'p-value': 8.894702339275906e-06}

In [12]:
#(c) Repeat (a) and (b) using Python packages.
#Repeat (a)
#Data preprocessing
diff = turtle.drop('gender',axis=1)
diff = diff.dot(C_par.T)
diff.columns = ['x12','x23']
para = diff.join(pd.DataFrame(turtle['gender']))
para

    x12  x23  gender
0    17   43  female
1    19   46  female
2    17   44  female
3    19   44  female
4    21   44  female
5    31   42  female
6    28   49  female
7    34   48  female
8    31   51  female
9    31   51  female
10   34   52  female
11   34   53  female
12   40   47  female
13   39   48  female
14   36   52  female
15   39   51  female
16   42   52  female
17   46   51  female
18   40   52  female
19   38   57  female
20   43   53  female
21   41   55  female
22   38   63  female
23   45   65  female
24   19   37    male
25   16   43    male
26   16   45    male
27   17   45    male
28   17   47    male
29   22   44    male
30   21   44    male
31   23   44    male
32   25   44    male
33   23   49    male
34   25   48    male
35   28   46    male
36   26   47    male
37   27   49    male
38   26   50    male
39   26   52    male
40   31   49    male
41   27   49    male
42   26   53    male
43   32   48    male
44   31   51    male
45   33   50    male
46   36   49    male
47   29   59    male

In [13]:
#Test for parallel profile
para_test = MANOVA.from_formula('x12 + x23 ~ gender', data = para)
print(para_test.mv_test())
#p-value=0.0015
#Reject null hypothesis
#Same result as #2(a)

                   Multivariate linear model
===============================================================

---------------------------------------------------------------
       Intercept         Value  Num DF  Den DF  F Value  Pr > F
---------------------------------------------------------------
          Wilks' lambda  0.0175 2.0000 45.0000 1260.1630 0.0000
         Pillai's trace  0.9825 2.0000 45.0000 1260.1630 0.0000
 Hotelling-Lawley trace 56.0072 2.0000 45.0000 1260.1630 0.0000
    Roy's greatest root 56.0072 2.0000 45.0000 1260.1630 0.0000
---------------------------------------------------------------

---------------------------------------------------------------
            gender         Value  Num DF  Den DF F Value Pr > F
---------------------------------------------------------------
             Wilks' lambda 0.7489 2.0000 45.0000  7.5439 0.0015
            Pillai's trace 0.2511 2.0000 45.0000  7.5439 0.0015
    Hotelling-Lawley trace 0.3353 2.0000 45.0000  7.5439 0.0015
       Roy's greatest root 0.3353 2.0000 45.0000  7.5439 0.0015
===============================================================

In [14]:
#Repeat (b)
#univariate x1+x2+x3
female = turtle[turtle['gender'] == 'female'].iloc[:,:3].sum(axis=1)
male = turtle[turtle['gender'] == 'male'].iloc[:,:3].sum(axis=1)

In [15]:
#Test for coincident profile
ttest_ind(female, male, equal_var = True) #We assumed equal covariances
#p-value=8.8947e-06
#Reject null hypothesis
#Same result as #2(b)

Ttest_indResult(statistic=4.996482809354179, pvalue=8.894702339275784e-06)

In [16]:
#(d) Test equality of the two population mean vectors at alpha=0.05 using oneway MANOVA
#For oneway MANOVA, we assume that:
#1. The random samples from different populations are independent.
#2. All populations have a common covariance matrix
#3. Each population is multivariate normal.
cols = ['x1','x2','x3','gender']
cols

['x1', 'x2', 'x3', 'gender']

In [17]:
turtle.columns=cols
turtle

     x1   x2  x3  gender
0    98   81  38  female
1   103   84  38  female
2   103   86  42  female
3   105   86  42  female
4   109   88  44  female
5   123   92  50  female
6   123   95  46  female
7   133   99  51  female
8   133  102  51  female
9   133  102  51  female
10  134  100  48  female
11  136  102  49  female
12  138   98  51  female
13  138   99  51  female
14  141  105  53  female
15  147  108  57  female
16  149  107  55  female
17  153  107  56  female
18  155  115  63  female
19  155  117  60  female
20  158  115  62  female
21  159  118  63  female
22  162  124  61  female
23  177  132  67  female
24   93   74  37    male
25   94   78  35    male
26   96   80  35    male
27  101   84  39    male
28  102   85  38    male
29  103   81  37    male
30  104   83  39    male
31  106   83  39    male
32  107   82  38    male
33  112   89  40    male
34  113   88  40    male
35  114   86  40    male
36  116   90  43    male
37  117   90  41    male
38  117   91  41    male
39  119   93  41    male
40  120   89  40    male
41  120   93  44    male
42  121   95  42    male
43  125   93  45    male
44  127   96  45    male
45  128   95  45    male
46  131   95  46    male
47  135  106  47    male

In [18]:
man = MANOVA.from_formula('x1+x2+x3 ~ gender', data = turtle)
print(man.mv_test())
#p-value=0.0000 < 0.05
#Reject null hypothesis
#At significance level 0.05, the two population means are not equal

                   Multivariate linear model
===============================================================

---------------------------------------------------------------
       Intercept         Value  Num DF  Den DF  F Value  Pr > F
---------------------------------------------------------------
          Wilks' lambda  0.0144 3.0000 44.0000 1001.2534 0.0000
         Pillai's trace  0.9856 3.0000 44.0000 1001.2534 0.0000
 Hotelling-Lawley trace 68.2673 3.0000 44.0000 1001.2534 0.0000
    Roy's greatest root 68.2673 3.0000 44.0000 1001.2534 0.0000
---------------------------------------------------------------

---------------------------------------------------------------
            gender         Value  Num DF  Den DF F Value Pr > F
---------------------------------------------------------------
             Wilks' lambda 0.3886 3.0000 44.0000 23.0782 0.0000
            Pillai's trace 0.6114 3.0000 44.0000 23.0782 0.0000
    Hotelling-Lawley trace 1.5735 3.0000 44.0000 23.0782 0.0000
       Roy's greatest root 1.5735 3.0000 44.0000 23.0782 0.0000
===============================================================