In [1]:
import numpy as np
import pandas as pd

### Prompt

In [2]:
import_name=input("Please enter the name of the data file: ")

Please enter the name of the data file: harris.dat

In [3]:
import_name

'harris.dat'

In [4]:
encode_sep=int(input("Please select the separator used in the data file (1 = whitespace or 2 = comma): "))
separator={encode_sep ==1 : " "}.get(True, ",")

Please select the separator used in the data file (1 = whitespace or 2 = comma): 1

In [5]:
res_pos =int(input("Please enter the position of the response variable column (select from 1 to p): "))

Please enter the position of the response variable column (select from 1 to p): 1

In [6]:
header=input("Does the data file include a column header? (y/n) : ")

Does the data file include a column header? (y/n) : n

In [7]:
export_name=input("Please enter the name for the file to be exported (e.g. result.txt) : ")

Please enter the name for the file to be exported (e.g. result.txt) : HW1_output.txt

### Multiple linear regression

In [8]:
if(header=="y"):
    data=pd.read_csv(import_name, sep=separator)
else:
    data=pd.read_csv(import_name, sep=separator, header=None)

In [9]:
data

       0   1      2   3  4
0   3900  12    0.0   1  0
1   4020  10   44.0   7  0
2   4290  12    5.0  30  0
3   4380   8    6.2   7  0
4   4380   8    7.5   6  0
..   ...  ..    ...  .. ..
88  6600  15  215.5  16  1
89  6840  15   41.5   7  1
90  6900  12  175.0  10  1
91  6900  15  132.0  24  1
92  8100  16   54.5  33  1

[93 rows x 5 columns]

In [10]:
Y = data.iloc[:,res_pos-1] #response variable
Y

0     3900
1     4020
2     4290
3     4380
4     4380
      ...
88    6600
89    6840
90    6900
91    6900
92    8100
Name: 0, Length: 93, dtype: int64

In [11]:
Z_col = data.columns.delete(res_pos-1) #columns of predictor variables
Z=data[Z_col] #predictor variables

In [12]:
ones=pd.DataFrame(np.ones(len(data),dtype=np.int8))
Z=pd.concat([ones,Z],axis=1)
Z #predictor variables with constant term

    0   1      2   3  4
0   1  12    0.0   1  0
1   1  10   44.0   7  0
2   1  12    5.0  30  0
3   1   8    6.2   7  0
4   1   8    7.5   6  0
.. ..  ..    ...  .. ..
88  1  15  215.5  16  1
89  1  15   41.5   7  1
90  1  12  175.0  10  1
91  1  15  132.0  24  1
92  1  16   54.5  33  1

[93 rows x 5 columns]

In [13]:
B_hat=pd.DataFrame((np.linalg.inv(Z.T.dot(Z))).dot(Z.T).dot(Y))
B_hat=round(B_hat,3)
B_hat

          0
0  3526.422
1    90.020
2     1.269
3    23.406
4   722.461

In [14]:
#Fitted values
Y_hat = Z.dot(B_hat)
Y_hat=round(Y_hat,3)
Y_hat

           0
0   4630.068
1   4646.300
2   5315.187
3   4418.292
4   4396.536
..       ...
88  6247.148
89  5815.688
90  5785.258
91  6328.435
92  6530.762

[93 rows x 1 columns]

In [15]:
#Calculate R^2
SSE = sum((Y-Y_hat[0])**2)
SST = sum((Y-Y.mean())**2)
R_square = round(1-SSE/SST,4)
R_square

0.5109

In [16]:
#Calculate MSE
n = len(data)
p = len(Z.columns)
MSE = round(SSE/(n-p),4)
MSE

257476.5621

### Write File

In [17]:
f = open(export_name,'w')
text = "Coefficients\n-------------\nConstant: "+str(B_hat.iloc[0,0])+"\n"
for i in range(1,len(Z.columns)):
    text += "Beta"+str(i)+": "+str(B_hat.iloc[i,0])+"\n"
text += "\nID, Actual values, Fitted values\n--------------------------------\n"
for j in range(5):
    text += str(j+1) + ", " + str(Y[j]) + ", " + str(Y_hat.iloc[j,0]) + "\n"
text += "(continue)\n\nModel Summary\n-------------\nR-square = " + str(R_square) + "\n"
text += "MSE = " + str(MSE)
f.write(text)
f.close()